body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: flex-start;   /* ⭐ CENTER काढलं */
    min-height: 100vh;         /* ⭐ height ऐवजी min-height */
    padding-top: 20px;         /* ⭐ वर space */
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 280px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#error {
    color: red;
    margin-top: 10px;
}

/* Memories Page */
.memory-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 90px;
    max-width: 380px;
    text-align: center;
}

.memory-box img {
    width: 100%;
    height: auto;        /* ⭐ महत्त्वाचं */
    object-fit: contain; /* ⭐ फोटो कट होणार नाही */
    border-radius: 12px;
    margin-top: 15px;
}